body {
  height: 960px;
  background: #959595 url("../img/back_myroom02.jpg") repeat-x center top;
  background-attachment: scroll;
}
#draw {
   img {
     position: fixed;
   }
}
#welcome {
  position: relative;
  margin: 0 auto;
  margin-top: 220px;
  width: 390px;

  #hw {
    position: absolute;
    left: 300px;
    top:-15px;
  }

  label{
    position: absolute;
    font:38px Consolas;
    color: #8C8C8C;
    top:6px;
    left: 14px;
  }

  p{
    color: #A2A2A2;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
  }
  #p_im {
    font-size:20px;
    font-style: italic;
  }

  #p_author {
    color:#8C8C8C;
    font-size: 119px;
    letter-spacing:-4px;
  }

  #p_desc {
    letter-spacing:8px;
    font-size: 15px;
    color: #A2A2A2;
  }
}