body {
  height: 960px;
}
header {
  position: fixed;
  color: #fff;
  height: 30px;
  width: 100%;
  z-index: 100;
}
nav {
  ul {
    position: absolute;
    text-align: center;
    top: 15px;
    right: 15px;
  }

  li {
    margin: 0 .25em 0 0;
    display: inline-block;
    font-size: 1.1em;
    line-height: 1;
  }

  a {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: block;
    border: 3px solid #efefef;
    text-indent: -999em;
  }

  .step-1 a {
    background: white;
  }
  .step-2 a {
    background: #3da3a2;
  }
  .step-3 a {
    background: #eb713b;
  }
  .step-4 a {
    background: #f2b636;
  }
}

#section0 {
  background: #959595 url("../img/back_myroom02.jpg") repeat-x center top;
  background-attachment: scroll;
  height: 680px;
  overflow: hidden;
}
#draw {
   img {
     position: absolute;
     bottom: 0;
     display: none;
   }
}
#welcome {
  position: relative;
  margin: 0 auto;
  margin-top: 180px;
  width: 390px;

  #hw {
    position: absolute;
    left: 300px;
    top:-15px;
  }

  label{
    position: absolute;
    font:38px Consolas;
    color: #8C8C8C;
    top:6px;
    left: 14px;
  }

  p{
    color: #A2A2A2;
    font-family: Trebuchet, Trebuchet MS, Tahoma, Arial, sans-serif;
  }
  #p_im {
    font-size:20px;
    font-style: italic;
  }

  #p_author {
    color:#8C8C8C;
    font-size: 119px;
    letter-spacing:-4px;
  }

  #p_desc {
    letter-spacing:8px;
    font-size: 15px;
    color: #A2A2A2;
  }
}
.section {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.parallax {
  display: block;
  background: white no-repeat fixed center center;
  background-size: cover;

  p{
    height: 220px;
    text-align: center;
    text-indent: -999em;
    background: transparent no-repeat fixed center center;
  }
}

#inter1 {
  background-image: url(../img/label01.jpg);

  p {
    background-image: url(../img/label01.png);
  }
}

.widget_skills{
  width: 359px;

  .skills_row {
    margin-top: 2px;
  }
  .progressbar {
    white-space: nowrap;
  }
  .progress {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    display: block;
    font-size: 16px;
    height: 35px;
    line-height: 20px;
    padding-top: 7px;
    text-align: left;
    width: 0;
  }
  .caption {
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 0 0 12px;
  }

  .value {
    color: #FFFFFF;
    font-weight: 400;
  }
}
.section{
  .period_to {
    font-size: 38px;
    padding:40px 0 20px;
    text-shadow: 0 1px 1px #888;
  }
  .section-content{
    width: 1000px;
    margin: 0 auto;
  }

  .resume_content{
    color: rgb(102, 102, 102);
  }

  article{
  }
  section{
  }
}

.widget_skills {
  float: left;
  margin: 0 46px 20px 0;
  width: 379px;
}